@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background: #151515 url('../../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: white !important;
/*  text-align: center;*/
  font-size: 1.6rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}

.buttons {
    margin-left: 95px;
}

.button {
  opacity: 0.7;
  display: inline-block;
  width: 155px;
  padding: 5px ;
  border-radius: 30px;
  background-color: #cc3366;
  color: #fff;
  text-decoration: none !important;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 1 !important;
  color: white;
}
.button-showy {
  background-color: #006699;
}

/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 170px 30px 80px 150px;
}

.site-title-sub {
  margin: 60px 0 30px 80px;
  letter-spacing: 1px;
  font-size: 2.4rem;
}
/*.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}*/
.site-title {
  margin: 10px 0 40px 95px;
  font-size: 1.8rem;
  line-height: 3.0rem;
}

.site-description {
  margin: 5px 0 50px 105px;
  color: #888;
  font-size: 1.1rem;
}
.buttons .button {
  margin: 10px;
}

/* --------------------------------
 * logo
 * -------------------------------- */
.logo {
  margin-top: 84px;
  opacity: 0.6;
}

img{
   max-width: 255px;
   height: auto;
}


/* --------------------------------
 * モーダルウィンドウ
 * -------------------------------- */
#modal-content {
width: 50% ;
margin: 0 ;
padding: 10px 20px ;
/*border: 2px solid #aaa ;*/
/*background: #fff ;*/
position: fixed ;
display: none ;
z-index: 2 ;
/*color: black;*/
}

#modal-content-innar{
 margin:0 auto;
 width:80%;
}

#modal-overlay {
z-index: 1;
display: none ;
position: fixed ;
top: 0 ;
left: 0 ;
width: 100% ;
height: 120% ;
background-color: rgba( 0,0,0, 0.75 ) ;
}

#modal-close {
  margin-left: 250px;
}

/*.button-link {
 color: #00f ;
 text-decoration: underline ;
}
 
.button-link:hover {
 cursor: pointer ;
 color: #f00 ;
}*/


/* --------------------------------
 * ログインウィンドウ
 * -------------------------------- */
/*.red bold {
  min-height: 100%;
  font-family: Oxygen;
  font-weight: 300;
  font-size: 1em;
  color: #fff;
  background: #2e3441;
  background-image: -webkit-radial-gradient(top, circle cover, #4e7a89, #2e3441 80%);
  background-image: -moz-radial-gradient(top, circle cover, #4e7a89, #2e3441 80%);
  background-image: -o-radial-gradient(top, circle cover, #4e7a89, #2e3441 80%);
  background-image: radial-gradient(top, circle cover, #4e7a89, #2e3441 80%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/
.signin {
  display: block;
  position: relative;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #3B5998;/*rgba(69,154,255,1);*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
  box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
}
.signin .avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 35px auto;
  border: 5px solid #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}
.signin .avatar:before {
  content: "\f272";
  text-align: center;
  font-family: Ionicons;
  display: block;
  height: 100%;
  line-height: 100px;
  font-size: 5em;
}
.signin .inputrow {
  position: relative;
}
.signin .inputrow label {
  position: absolute;
  top: 12px;
  left: 10px;
}
.signin .inputrow label:before {
  color: #538a9a;
  opacity: 0.4;
  -webkit-transition: opacity 300ms 0 ease;
  -moz-transition: opacity 300ms 0 ease;
  transition: opacity 300ms 0 ease;
}
.signin input[type="text"],
.signin input[type="password"] {
  padding: 10px 12px 10px 32px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: #fff;
  color: #333;
  font-size: 1em;
  font-weight: 300;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: border-color 300ms 0 ease;
  -moz-transition: border-color 300ms 0 ease;
  transition: border-color 300ms 0 ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.signin input[type="text"]:focus + label:before,
.signin input[type="password"]:focus + label:before {
  opacity: 1;
}
.signin input[type="submit"] {
  -webkit-appearance: none;
  height: 40px;
  padding: 10px 12px;
  margin-bottom: 10px;
  background-color: #538a9a;
  text-transform: uppercase;
  color: #fff;
  border: 0px;
  float: right;
  margin: 0;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.signin input[type="submit"]:hover {
  background-color: #5e98a8;
}
.signin input[type="submit"]:active {
  background-color: #4a7b89;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  padding-left: 36px;
  font-size: 0.6em;
  font-weight: normal;
  line-height: 16px;
  opacity: 0.5; /*チェック入れる前の透明度*/
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 16px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
input[type="checkbox"] + label:before {
  left: 0;
  top: -2px;
  width: 30px;
  background: rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);
}
input[type="checkbox"] + label:after {
  opacity: 0.3;
  background: #fff;
  top: 0px;
  left: 2px;
  height: 12px;
  width: 12px;
  -webkit-transition: all 200ms 0 ease;
  -moz-transition: all 200ms 0 ease;
  transition: all 200ms 0 ease;
}
input[type="checkbox"]:checked + label {
  opacity: 1;/*チェック入れた後の透明度*/
}
input[type="checkbox"]:checked + label:after {
  opacity: 1;
  left: 16px;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}